.add-todo {
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #593f62;
  color: white;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 0.75rem;
}

.add-todo_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.542);
}

.add-todo_modal > .modal {
  width: 25rem;
  height: 22rem;
  background-color: #ebe6d5;
  display: grid;
  grid-template-rows: 3rem 1fr;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.028);
}

.modal > .modal_title {
  display: grid;
  /* place-content: center; */
  justify-content: center;
  align-items: end;

  & h1 {
    color: black;
    font-family: var(--primary-font);
    font-size: 1rem;
  }
}

.modal > .modal_body {
  width: 100%;
  display: grid;
  justify-content: center;
}

.modal > .modal_body textarea {
  resize: none;
  width: 20rem;
  height: 11rem;
  border: none;
  outline: none;
  font-family: var(--primary-font);
  padding: .5rem;
}

.modal_body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & input[type="submit"] {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #593f62;
    color: white;
    cursor: pointer;
    font-family: var(--primary-font);
    font-weight: 600;
  }
}
