@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Red Hat Display", sans-serif;
  --title-color: #333333b3;
  --general-bg-color: #95b8d143;
  --btn-bg: #33658a;
  --form-bg-color: #d4d4d470;
  --modal-bg-color: rgb(225, 235, 242);
}

main {
  width: 100%;
  min-height: calc(100svh - 10rem);
  display: grid;
  place-content: center;
  padding: 5rem 0;
}

section {
  width: 35rem;
  min-height: 35rem;
  display: grid;
  grid-template-rows: 5rem 1fr;
  border-radius: 0.3rem;
  background-color: var(--general-bg-color);
  padding-bottom: 1rem;
}

.todo-list_title {
  display: grid;
  justify-content: center;
  align-items: end;
}

.todo-list_title > h1 {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  color: var(--title-color);
}

.no-todos {
  font-family: var(--primary-font);
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--title-color);
}

.todo-list_body {
  display: grid;
  grid-template-rows: 4rem 1fr;
  padding: 0 3rem 1rem;
}

.body-button {
  display: grid;
  align-items: center;
}

.body-items {
  background-color: var(--form-bg-color);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  padding: 1rem 0;
}

.body-items > img {
  width: 10rem;
}

.loading-spinner {
  font-family: var(--primary-font);
  font-size: 0.9rem;
}
